.App {
  background-color: #f5d3bbec;
  line-height: 3em;
  max-width: 960px;
  margin: 0 auto;
}
.App footer {
  text-align: center;
  margin: 10px;
  font-size: 12px;
}

.App footer a {
  color: #02475e;
}
