.Dictionary .title {
  font-family: "Dancing Script", cursive;
  margin-top: 35px;
  margin-left: 35px;
  padding: 10px;
  text-align: left;
  color: #687980;
  font-weight: bold;
}

.Dictionary .search-engine {
  width: max-content;
  padding: 10px;
  margin: 15px;
}

.Dictionary form {
  display: block;
  margin: 0 auto;
}

.Dictionary .search {
  width: 400px;
  width: 400px;
  margin: 5px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}
.Dictionary .btn {
  padding: 7px 30px;
}
.Dictionary section {
  background-color: white;
  padding: 30px 15px;
  margin: 15px;
  border: white;
  border-radius: 6px;
  box-shadow: 5px 7px 10px grey;
}
