.Dictionary .title {
  margin-top: 35px;
  padding: 10px;
  text-align: left;
  color: #e84545;
  font-size: 60px;
  font-weight: bold;
}

.Dictionary .search-engine {
  width: max-content;
  padding: 10px;
  margin: 15px;
}

.Dictionary form {
  display: block;
  margin: 0 auto;
}

.Dictionary button {
  text-align: left;
}

.Dictionary ul {
  list-style: none;
}
