.Dictionary .title {
  font-family: "Dancing Script", cursive;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: #687980;
  font-weight: bold;
}

.Dictionary p {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 0;
}

.Dictionary .search-engine {
  display: block;
  margin: 0 auto;
  width: max-content;
  padding: 10px;
  margin-bottom: 8px;
}

.Dictionary .search {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}
.Dictionary .btn {
  padding: 7px 30px;
}
.Dictionary section {
  background-color: white;
  opacity: 0.9;
  padding: 12px 8px;
  margin: 7px;
  border: white;
  border-radius: 6px;
  box-shadow: 5px 7px 10px grey;
}
